* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Steppe-Book';
    src: url('fonts/Steppe-Book.ttf');
}
@font-face {
    font-family: 'Steppe-ExtraBold';
    src: url('fonts/Steppe-ExtraBold.ttf');
}
body {
    background-color: #5243F4;
    font-family: 'Steppe-Book', sans-serif;
    color: white;
}
.main {
    position: relative;
    overflow: hidden;
}
.currency {
    position: fixed;
    right: 50px;
    bottom: 50px;
    border: 1px solid white;
    padding: 5px 15px ;
    height: 35px;
    min-width: 25px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    line-height: 28px;
    z-index: 1;
    user-select: none;
    transform: scale(1);
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}
.header {
    padding: 40px 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header .container {
    display: flex;
    align-items: center;
}
.logo img {
    vertical-align: bottom;
}
.menu {
    margin-left: 250px;
}
.menu-list {
    list-style: none;
    display: flex;
    gap: 50px;
}
.menu-item a {
    text-decoration: none;
    font-size: 16px;
    line-height: 130%;
    cursor: pointer;
    color: white;
}
.menu-item a:hover {
    border-bottom: 2px solid white;
}
.main-content {
    padding-top: 161px;
    padding-bottom: 200px;
}
.main-info {
   max-width: 811px;
}
.main-title {
    font-family: 'Steppe-ExtraBold', sans-serif;
    font-size: 90px;
    line-height: 100%;
    margin-bottom: 20px;
}
.main-text {
    max-width: 697px;
    font-size: 18px;
    line-height: 130%;
    margin-bottom: 40px;
}
.button {
    background-color: white;
    border-radius: 60px;
    width: 178px;
    height: 58px;
    padding: 18px;
    text-align: center;
    font-size: 18px;
    color: #5243F4;
    border: 0;
    outline: none;
    cursor: pointer;
} 
    .button:hover {
    background-color: #eeeeee;
}
.main-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

/*section 2 products - start*/
.products {
    padding: 100px 0;
    position: relative;
}
.container h2 {
    color: white;
    font-size: 60px;
    font-family: 'Steppe-ExtraBold', sans-serif;
    line-height: 100%;
    text-align: center;
}
.products-items {
    display: grid;
    grid-template-columns: repeat(3, 384px);
    /* grid-template-rows: repeat(2, 480px); можно и не задавать*/
    gap: 90px 24px;
    margin-top: 110px;
}
.products-item {
    background-color: white;
    color: #5D3427;
}
.image-wrapper {
    height: 202px; /*задаем для обертки без учета выступа картинки над карточкой товара*/
    text-align: center;
}
.image-wrapper img {
    height: 272px;
    position: relative;
    top: -70px;
    max-width: 100%; /*всегда добавлять картинкам, т.к. они расширяются незав-мо от родителя*/
}
.products-item-details {
    padding: 24px;
}
.products-item-details h4 {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Steppe-ExtraBold', sans-serif;
}
.products-item-details p {
    margin-bottom: 20px;
    height: 110px; /*высота текста у всех карточек будет одна, всё их содержимое будет на одном уровне друг с другом*/
    font-size: 14px;
    line-height: 120%;
}
.products-item-extra {
    display: flex;
    justify-content: space-between;
    align-items: center; /*вместо gap*/
}
.products-item-info {
    gap: 10px;
}
.products-item-price {
    color: #5243F4;
    font-size: 24px;
    font-family: 'Steppe-ExtraBold', sans-serif;
}
.products-item-weight {
    font-size: 12px;
}
.button.violet {
    background-color: #5243F4;
    color: white;
    font-size: 18px;;
}
.button.violet:hover {
   background-color: #3b2cd8;
}

/*section 3 love_backery - start*/
.love-backery {
    padding: 64px 0 150px;
}
.love-items {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.love-item {
    width: 590px;
    height: 453px;
}
.love-item.info {
    padding: 110px 80px;
    background-color: white;
    color: #5D3427;
}
.love-item.info h3 {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 110%;
    font-family: 'Steppe-ExtraBold', sans-serif;
}
.love-item.info p {
    font-size: 18px;
    line-height: 130%;
}

/*section 4 form_order - start*/
.form_order {
    padding-bottom: 102px;
    position: relative;
}
.form_order .container {
    position: relative;
}
.order-block {
    margin-top: 103px;
    background-color: rgb(255, 255, 255, 0.3);
    backdrop-filter: blur(50px);
    display: flex;
}
.order-form {
     margin: 40px 109px 44px 200px;
     max-width: 370px;
}
.order-form p {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 130%;
    font-family: 'Steppe-ExtraBold', sans-serif;
}
.order-form-inputs {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.order-form-inputs input {
    background: transparent;
    border-radius: 60px;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 18px;
    padding: 24px 22px;
    width: 385px;
    height: 68px;
}

::placeholder {
    color: rgb(255, 255, 255, 0.4);
}
.order-form-inputs .button.violet {
    width: 385px;
    height: 68px;
    cursor: pointer;
}
.order-image {
    height: 501px;
    text-align: center;
}
.order-image img {
    height: 559px;
    position: relative;
    top: -58px;
    max-width: 100%; 
}
.background-breadcrumbs {
    position: absolute;
    top: 0;
    right: calc(100% - 810px);
    z-index: -1;
}
footer {
    padding: 126px 0 50px;
    text-align: center;
}
footer p {
    margin-top: 14px;
    font-size: 18px;
    line-height: 130%;
}
.line1 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc(100% - 960px);
}
.line2 {
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 0;
}
.line3 {
    position: absolute;
    z-index: -1;
    top: -920px;
    left: 0;
}